<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    {% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <h1>Новости</h1>
    </header>
    <main>
        {% for image in images %}
            <article>
                <h2>{{ image.id }}</h2>
                <img src="{{ image.photo }}">
                <p>{{ item.description/Users/user/.Trash/index.html 19-44-08-419.html_name }}</p>
            </article>
        {% endfor %}
    </main>
    <footer>
        <p>&copy; 2024 Новости</p>
    </footer>
</body>
</html>
